body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#subtitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

.transparent{
  opacity:0;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  position: relative;
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn:hover {
  opacity: 0.80;
  border: 10px solid #343232;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px aliceblue;
  background-color: grey;
}

.transition {
  border-color: white;
  transition: 2s ease-out;
}


/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navDropdown {
  float: left;
  overflow: hidden;
}

.navDropdown .navDropBtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .navDropdown:hover .navDropBtn, .navDropBtn:focus {
  background-color: grey;

}

.navDropLinks {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
}

.navDropLinks a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navDropLinks a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.navbar .active {
  border-top-style: solid;
  border-width: 1px;
  color: #ff903c;
}

.navbar .active2 {
  color: #ff903c;
}
